@model IEnumerable<MVC_Turmas.Data.Turma.Professor>

@{
    ViewData["Title"] = "Listagem de Professores";
}

<div class="d-flex justify-content-between align-items-center mb-3 mt-3">
    <h2>Listagem de Professores</h2>
    <a asp-action="Create" class="btn btn-primary px-4">Novo Registo</a>
</div>

<table class="table align-middle">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.AreaEnsino)</th>
            <th class="text-end">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="fw-bold">@item.Nome</td>
                <td>@item.AreaEnsino</td>
                <td class="text-end">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm text-black">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>